<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild And Wizard</title>
</head>
<body>
<h1>Wild And Wizard</h1>
<section>
    <h3>Wähle einen Zauberer aus:</h3>
    <a href="/wizards">Liste aller Zauberer</a>
    <br><br>
    <form action="/wizard-Id" method="get">
        <label>Löschen des Zauberers:</label>
        <input name="id" placeholder="1" required type="text">
        <input type="submit" value=" Delete ">
    </form>
</section>
<section>
    <h3>Wähle eine Schule aus:</h3>
    <a href="/schools">Liste alle Schulen</a>
    <br><br>
    <form action="/school-Id" method="get">
        <label>Löschen der Schule:</label>
        <input name="id" placeholder="1" required type="text">
        <input type="submit" value=" Delete ">
    </form>
</section>
</body>
</html>
